[Unit]
Description=Puppet Agent
Documentation=https://puppet.com/docs/puppet/latest/
After=network.target

[Service]
Type=notify
User=puppet
Group=puppet
ExecStart=/opt/puppetlabs/puppet/bin/puppet agent --onetime --no-summarize --no-color
ExecReload=/opt/puppetlabs/puppet/bin/puppet agent --test --no-summarize --no-color
TimeoutStopSec=10
KillSignal=SIGTERM
LimitNOFILE=65536
LimitNPROC=512
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target